<div class="container">
    <h3 class="text-center">Invoice ID</h3>

    <div class="row content-justify-around">
        <div class="col-6 text-center">
              Bill To : Kwame
        </div>
        <div class="col-6 text-center">
            <p>Date Issued: date</p> 
            <p>Date Issued: date</p> 
        </div>
    </div>


    <div class="row">
        <table class="table" >
            <thead class="thead-dark" style="height: 40px;" >
              <tr>
                <th  scope="col" style="width:420px" class="text-center">Item</th>
                <th scope="col" class="text-center" style="width:120px" >Quantity</th>
                <th  scope="col" class="text-center" style="width:80px" >Rate</th>
                <th  scope="col" class="" > <span style="margin-left:20px">Amount</span></th>
              </tr>
            </thead>        
    </table>
</div>


<div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="10px">
    <div fxFlex="50" class="text-center" >
        Sanitizer
    </div>
    <div fxFlex="10" >
        12
    </div>
    <div fxFlex="10">
        23
    </div>
    <div fxFlex="20" >
        34
    </div>
</div>

<hr>
<div fxLayout="row" fxLayoutAlign=" start" fxLayoutGap="10px">

    <div fxFlex="70">
        <h4>Notes</h4>
        <p >
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, rerum eos dolorem officiis illum quo ratione, debitis, cupiditate dicta quas dignissimos omnis veritatis quam voluptatem? In magni placeat reiciendis aperiam!
        </p>
    </div>

</div>
<hr>

<div fxLayout="row" fxLayoutAlign=" start" fxLayoutGap="10px">

    <div fxFlex="70">
        <h4>Terms</h4>
        <p >
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, rerum eos dolorem officiis illum quo ratione, debitis, cupiditate dicta quas dignissimos omnis veritatis quam voluptatem? In magni placeat reiciendis aperiam!
        </p>
    </div>

</div>



<div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
    <div fxFlex="70">
    </div>
    <div fxFlex="20">
        Total: $123
    </div>

    
</div>




</div>


