<div class="container">
    <h3 class="text-center">Invoice ID</h3>

    <div class="row content-justify-around">
        <div class="col-6 text-center">
              Bill To : Kwame
        </div>
        <div class="col-6 text-center">
            <p>Date Issued: date</p> 
            <p>Date Issued: date</p> 
        </div>
    </div>


    <div class="row">
        <table class="table" >
            <thead class="thead-dark" style="height: 40px;" >
              <tr>
                <th  scope="col" style="width:420px" class="text-center">Item</th>
                <th scope="col" class="text-center" style="width:120px" >Quantity</th>
                <th  scope="col" class="text-center" style="width:80px" >Rate</th>
                <th  scope="col" class="" > <span style="margin-left:20px">Amount</span></th>
              </tr>
            </thead>

            <div class="row text-center">
                <div class="col-6">Sanitizer</div>
                <div class="col-2">12</div>
                <div class="col-2">23</div>
                <div class="col-2">34</div>
            </div>
        
    </table>

   
</div>





</div>


