<div class="row" >
    <div class="col-lg-8 col-md-8">
        <img src="../../../../../assets/images/loginPage2.jpg"  alt=""
        class="img-fluid" style="height:650px">
    </div>
    <div class="col-lg-4  col-md-4 mt-4 text-center " style="margin-top: 100px !important">       
                <form  [formGroup]="loginForm">
                    <h1 class="mb-2 text-center"  style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Login</h1>
                
                    <div class="form-group">
                      <mat-form-field appearance="outline" style="width:300px">
                        <mat-label>Username</mat-label>
                        <input matInput placeholder="username" formControlName="userName">
                        <mat-error *ngIf="loginForm.get('userName').invalid"> Invalid input </mat-error>
                      </mat-form-field>
                    </div>

                    <div class="form-group">
                    <mat-form-field appearance="outline" style="width:300px">
                        <mat-label>Password</mat-label>
                        <input matInput placeholder="password" formControlName="password">
                        <mat-error *ngIf="loginForm.get('password').invalid"> Invalid input </mat-error>
                      </mat-form-field>
                    </div>
                    
                   
                  
                
                    <div class="">
                        <button class="btn btn-primary " (click)="loginUser()" id="loginBtn"  [disabled]="!loginForm.valid" ><span class="px-3">Login</span></button>
                        <a href="" class="text-bold forgotten-password text-secondary  ">Forgotten password?</a>
                    </div>
                  </form>
           
     
      
    </div>
</div>
