
<mat-card class="mat-elevation-z3">
    <form class="example-form">
        <div fxLayout="row" fxLayoutAlign="space-around center" >
            <div fxFlex="20">
            </div>
        <div fxFlex="50">
            <mat-form-field >
                <mat-label>First Name</mat-label>
                <input matInput placeholder="John" value="">
              </mat-form-field>
        </div>

        <div fxFlex="50">
            <mat-form-field >
                <mat-label>Last Name</mat-label>
                <input matInput placeholder="John" value="">
              </mat-form-field>
        </div>
        </div>


        <div fxLayout="row" fxLayoutAlign="space-around center" >
            <div fxFlex="20">
            </div>
        <div fxFlex="50">
            <mat-form-field >
                <mat-label>First Name</mat-label>
                <input matInput placeholder="John" value="">
              </mat-form-field>
        </div>

        <div fxFlex="50">
            <mat-form-field >
                <mat-label>Last Name</mat-label>
                <input matInput placeholder="John" value="">
              </mat-form-field>
        </div>
        </div>


        <div fxLayout="row" fxLayoutAlign="space-around center" >
            <div fxFlex="20">
            </div>
        <div fxFlex="50">
            <mat-form-field >
                <mat-label>First Name</mat-label>
                <input matInput placeholder="John" value="">
              </mat-form-field>
        </div>

        <div fxFlex="50">
            <mat-form-field >
                <mat-label>Last Name</mat-label>
                <input matInput placeholder="John" value="">
              </mat-form-field>
        </div>
        </div>


        <div fxLayout="row" fxLayoutAlign="space-around center" >
            <div fxFlex="20">
            </div>
        <div fxFlex="50">
            <mat-form-field >
                <mat-label>First Name</mat-label>
                <input matInput placeholder="John" value="">
              </mat-form-field>
        </div>

        <div fxFlex="50">
            <mat-form-field >
                <mat-label>Last Name</mat-label>
                <input matInput placeholder="John" value="">
              </mat-form-field>
        </div>
        </div>


        <div fxLayout="row" fxLayoutAlign="space-around center" >
            <div fxFlex="20">
            </div>
        <div fxFlex="50">
            <mat-form-field >
                <mat-label>First Name</mat-label>
                <input matInput placeholder="John" value="">
              </mat-form-field>
        </div>

        <div fxFlex="50">
            <mat-form-field >
                <mat-label>Last Name</mat-label>
                <input matInput placeholder="John" value="">
              </mat-form-field>
        </div>
        </div>

      </form>
</mat-card>