
<mat-card class="mat-elevation-z3" style="margin-bottom:300px">
    <div fxLayout="row" fxLayoutAlign="space-between start">
        <div fxFlex="20" class="text-center">
            <img src="assets/images/headshot.png" class="img-rounded " height="100" />  
        </div>

        <div fxFlex="80" class="mb-5" *ngIf="studentData">
            <div class="row">
                <div class="col-md-4"><p class="">Surname:  {{ studentData.lastName}} </p></div>
                <div class="col-md-4"> <p class="">Other Names:{{ studentData.otherNames}} </p></div>
                <div class="col-md-4"><p class="">Religion:  {{ studentData.religion }} </p></div>
            </div>

            <div class="row">
                
                <div class="col-md-4"> <p class="">Mother Tongue: {{ studentData.motherTongue}} </p></div>
                <div class="col-md-4"><p class="">Hometown:  {{ studentData.homeTown}} </p></div>
                <div class="col-md-4"> <p class="">Gender: {{ studentData.gender}} </p></div>
            </div>

            <div class="row">
                <div class="col-md-4"><p class="">Living With:  {{ studentData.livingWith}} </p></div>
                <div class="col-md-4"> <p class="">No. Sibblings: {{ studentData.numSiblings}} </p></div>
                <div class="col-md-4"><p class="">Date Of Birth:  {{ studentData.dob}} </p></div>
            </div>
        </div>
    </div >

    <div class="row " style="margin-top:-40px">
    </div>
    <form  [formGroup]="studentInfoForm" >
    <div fxLayout="row" fxLayoutAligin=" start">
        
        <div fxFlex="100">
            <mat-tab-group color="primary" backgroundColor="primary">
                <mat-tab label="Physical Development"> 
                <div fxLayout="row" fxLayoutAlign="center space-evenly" class="mt-3"  >
                        <form [formGroup]="studentPhysicalForm" >

                            <div formArrayName="physicals">
                                <div *ngFor="let physical of physicals.controls; let i=index">
                                  <div [formGroupName]="i" class="row mb-2" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="15px ">

                                    <div fxFlex=25>
                                        <mat-form-field  appearance="outline" >
                                            <input matInput [matDatepicker]="picker" placeholder="Enter Date" formControlName="date" required>
                                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                            <mat-datepicker #picker></mat-datepicker>
                                          </mat-form-field>
                                    </div>
              
                                    <div fxFlex=22>
                                        <mat-form-field  appearance="outline" >
                                            <input matInput placeholder="10"  formControlName="weight" >
                                          </mat-form-field>
                                      
                                    </div>
              
                                    <div fxFlex=22>
                                        <mat-form-field  appearance="outline" >
                                            <input matInput placeholder="10"  formControlName="height" >
                                          </mat-form-field>
                                   
                                    </div>
              
                                    <div fxFlex=22>
                                        <mat-form-field  appearance="outline" >
                                            <input matInput placeholder="10"  formControlName="remark" >
                                          </mat-form-field>
                                      
                                    </div>
              
                                   <div fxFlex="1">
                                    <button mat-icon-button color="warn"  (click)="removePhysical(i)">
                                      <mat-icon>delete</mat-icon>
                                    </button>
                                    </div> 
              
                                  
                                  
                                
                                  </div>
                                </div>

                                <div class="float-right">
                                    <button mat-stroked-button color="accent"  (click)="addPhysical()" class="mr-2">Add Item</button>

                                    <span  *ngIf="physicalsaveShow">
                                        <button mat-stroked-button color="primary"  (click)="savePhysical()" class="float-right" [disabled]="!studentPhysicalForm.valid" disabled > Save</button>
                                    </span>
                                </div>
              
                                
                              </div> 
                        </form>
                      
                </div>    
                </mat-tab>
                <mat-tab label="Education Info"> 

                    <div fxLayout="row" fxLayoutAlign="center " class="mt-3"  >

                    <form [formGroup]="studentEducationForm" >

                        <div formArrayName="educations">
                            <div *ngFor="let education of educations.controls; let i=index">
                              <div [formGroupName]="i" class="row mb-2" fxLayout="row" fxLayoutAlign="" fxLayoutGap="20px ">

                                <div fxFlex="25">
                                    <mat-form-field  appearance="outline" >
                                        <input matInput placeholder="Montesorri"  formControlName="schoolName" >
                                      </mat-form-field>
                                  
                                </div>

                                <div fxFlex="30">
                                    <mat-form-field  appearance="outline" >
                                        <input matInput [matDatepicker]="eduPicker" placeholder="Enter admission date" formControlName="admissionDate" >
                                        <mat-datepicker-toggle matSuffix [for]="eduPicker"></mat-datepicker-toggle>
                                        <mat-datepicker #eduPicker></mat-datepicker>
                                    </mat-form-field>
                                </div>


                                <div fxFlex="30">
                                    <mat-form-field  appearance="outline" >
                                        <input matInput [matDatepicker]="eduPicker2" placeholder="Enter admission date" formControlName="lastAdmissionDate" >
                                        <mat-datepicker-toggle matSuffix [for]="eduPicker2"></mat-datepicker-toggle>
                                        <mat-datepicker #eduPicker2></mat-datepicker>
                                    </mat-form-field>
                                </div>
                               <div fxFlex="2">
                                <button mat-icon-button color="warn"  (click)="removeEducation(i)">
                                  <mat-icon>delete</mat-icon>
                                </button>
                                </div> 
                              </div>
                            </div>

                            <div class="float-right">
                                <button mat-stroked-button color="accent"  (click)="addEducation()" class="mr-2">Add Item</button>

                                <span  *ngIf="educationsaveShow">
                                    <button mat-stroked-button color="primary"  (click)="saveEducation()" class="float-right" [disabled]="!studentEducationForm.valid" disabled > Save</button>
                                </span>
                            </div>
          
                            
                          </div>     
                    </form>

                    </div>
              
                </mat-tab>
                <mat-tab label="Personality Info">
                    
                    <div fxLayout="row" fxLayoutAlign=" start" class="mt-3"  >
                        <div fxFlex="20" class="text-center" >
                            <div formArrayName="traits">
                                <b> Trait </b>
                                <div *ngFor="let alias of traits.controls; let i=index">
                                    <mat-form-field  appearance="outline" >
                                        <input matInput placeholder="Enter trait" [formControlName]="i" >
                                      </mat-form-field>
                                </div>
                              </div>
                        </div>
                        <div fxFlex="20"  class="text-center">
                            <b>Class </b>
                            <div formArrayName="classes">
                                <div *ngFor="let alias of classes.controls; let i=index">
                                    <mat-form-field  appearance="outline" >
                                        <input matInput placeholder="Enter Class" [formControlName]="i" >
                                      </mat-form-field>
                            </div>
                            </div>
                        </div>
                        <div fxFlex="20"  class="text-center">
                            <b>Score</b>
                            <div formArrayName="scores">
                                <div *ngFor="let alias of scores.controls; let i=index">
                                    <mat-form-field  appearance="outline" >
                                        <input matInput  placeholder="Enter score" [formControlName]="i" >
                                      </mat-form-field>
                                </div>
                            </div>
                        </div>

                        <div fxFlex="20"  class="text-center">
                            <b>Remark</b>
                            <div formArrayName="personalityRemarks">
                                <div *ngFor="let alias of personalityRemarks.controls; let i=index">
                                    <mat-form-field  appearance="outline" >
                                        <input matInput  placeholder="Enter remarks" [formControlName]="i" >
                                      </mat-form-field>
                                </div>
                            </div>
                        </div>
                        
                        <div fxFlex="10"  class="text-center">
                            <button mat-button color="primary" (click)="addPersonality()"><mat-icon>add</mat-icon> Add</button>
                        </div>
                    </div> 
                </mat-tab>

                <mat-tab label="Health Info">
                <div fxLayout="row" fxLayoutAlign="space-around center" class="mt-4" >
                    <div fxFlex="30">
                        <mat-form-field appearance="outline" style="width:300px"  >
                            <mat-label>Primary Care Physician</mat-label>
                            <input matInput placeholder="John"  formControlName="primaryCarePhysician" >
                            <mat-error *ngIf="studentInfoForm.get('primaryCarePhysician').invalid"> Invalid input </mat-error>
                          </mat-form-field>
                    </div>

                    <div fxFlex="30">
                        <mat-form-field appearance="outline" style="width:300px"  >
                            <mat-label>Preffered Medical Facility</mat-label>
                            <input matInput placeholder="Holy Trinity"  formControlName="preferredMedicalFacility" >
                            <mat-error *ngIf="studentInfoForm.get('preferredMedicalFacility').invalid"> Invalid input </mat-error>
                          </mat-form-field>
                    </div>
                </div>    


                <div fxLayout="row" fxLayoutAlign="space-around center"   >
                    <div fxFlex="30">
                        <mat-form-field appearance="outline" style="width:300px"  >
                            <mat-label>Insurance</mat-label>
                            <input matInput placeholder="Health Insurance"  formControlName="insuranceName" >
                            <mat-error *ngIf="studentInfoForm.get('insuranceName').invalid"> Invalid input </mat-error>
                          </mat-form-field>
                    </div>

                    <div fxFlex="30">
                        <mat-form-field appearance="outline" style="width:300px"  >
                            <mat-label>Insurance Number</mat-label>
                            <input matInput placeholder="123"  formControlName="insuranceNumber" >
                            <mat-error *ngIf="studentInfoForm.get('insuranceNumber').invalid"> Invalid input </mat-error>
                          </mat-form-field>
                    </div>
                </div>  



                <div fxLayout="row" fxLayoutAlign="space-around center" >
                    <div fxFlex="30">
                        <mat-form-field appearance="outline" style="width:300px"  >
                            <mat-label>Policy Holder Name</mat-label>
                            <input matInput placeholder="John"  formControlName="policyHolderName" >
                            <mat-error *ngIf="studentInfoForm.get('policyHolderName').invalid"> Invalid input </mat-error>
                          </mat-form-field>
                    </div>

                    <div fxFlex="30">
                        <mat-form-field appearance="outline" style="width:300px"  >
                            <mat-label>Policy Number</mat-label>
                            <input matInput placeholder="8912312"  formControlName="policyNumber" >
                            <mat-error *ngIf="studentInfoForm.get('policyNumber').invalid"> Invalid input </mat-error>
                          </mat-form-field>
                    </div>
                </div>  

                <div fxLayout="row" fxLayoutAlign="space-around center" >
                    <div fxFlex="30">
                        <mat-form-field appearance="outline" style="width:300px"  >
                            <mat-label>PCP Number</mat-label>
                            <input matInput placeholder="John"  formControlName="pcpNumber" >
                            <mat-error *ngIf="studentInfoForm.get('pcpNumber').invalid"> Invalid input </mat-error>
                          </mat-form-field>
                    </div>

                    <div fxFlex="30"></div>

                 
                </div>  
                
                </mat-tab>
            
                <mat-tab label="Handicap Info">

                    <div fxLayout="row" fxLayoutAlign="start"  class="mt-4">
                        <div fxFlex="50" class="text-center">
                            <div formArrayName="handicapParts">
                                <b>Handicap Part</b>
                                <div *ngFor="let alias of handicapParts.controls; let i=index">
                                    <mat-form-field  appearance="outline"  style="width:300px">
                                        <input matInput  placeholder="Enter part" [formControlName]="i" >
                                      </mat-form-field>
                                </div>
                            </div>
                        </div>
    
                        <div fxFlex="50" class="text-center">
                            <div formArrayName="handicapDescriptions">
                                <b>Handicap Description</b>
                                <div *ngFor="let alias of handicapDescriptions.controls; let i=index">
                                    <mat-form-field  appearance="outline"  style="width:300px">
                                        <input matInput  placeholder="Enter Description" [formControlName]="i" >
                                      </mat-form-field>
                                </div>
                            </div>
                        </div>

                        <div fxFlex="10"  class="text-center">
                            <button mat-button color="primary" (click)="addHandicap()"><mat-icon>add</mat-icon> Add</button>
                        </div>
    
                     
                    </div> 
                </mat-tab>

                <mat-tab label="Special Talents">
                    <div fxLayout="row" fxLayoutAlign="start"  class="mt-4">
                        <div fxFlex="50" class="text-center">
                            <div formArrayName="specialTalentDates">
                                <b>Date</b>
                                <div *ngFor="let alias of specialTalentDates.controls; let i=index">
                                    <mat-form-field  appearance="outline"  style="width:300px">
                                        <input matInput [matDatepicker]="picker" placeholder="Enter Date" [formControlName]="i" >
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                      </mat-form-field>
                                </div>
                            </div>
                        </div>

                        <div fxFlex="50"  class="text-center">
                            <div formArrayName="specialTalentParticulars">
                                <b> Particulars </b>
                                <div *ngFor="let alias of specialTalentParticulars.controls; let i=index">
                                    <mat-form-field  appearance="outline"  style="width:300px" >
                                        <input matInput placeholder="Enter talent" [formControlName]="i" >
                                      </mat-form-field>
                                </div>
                              </div>
                        </div>

                        <div fxFlex="10"  class="text-center">
                            <button mat-button color="primary" (click)="addSpecialTalent()"><mat-icon>add</mat-icon> Add</button>
                        </div>

                    </div>

                </mat-tab>

                <mat-tab label="Award">
                    <div fxLayout="row" fxLayoutAlign="start"  class="mt-4">
                        <div fxFlex="30" class="text-center">
                            <div formArrayName="awardDates">
                                <b>Award Date</b>
                                <div *ngFor="let alias of awardDates.controls; let i=index">
                                    <mat-form-field  appearance="outline"  style="width:300px">
                                        <input matInput [matDatepicker]="picker" placeholder="Enter Date" [formControlName]="i" >
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                      </mat-form-field>
                                </div>
                            </div>
                        </div>

                        <div fxFlex="30"  class="text-center">
                            <div formArrayName="awardNames">
                                <b> Award </b>
                                <div *ngFor="let alias of awardNames.controls; let i=index">
                                    <mat-form-field  appearance="outline"  style="width:300px" >
                                        <input matInput placeholder="Enter award" [formControlName]="i" >
                                      </mat-form-field>
                                </div>
                              </div>
                        </div>

                        <div fxFlex="30"  class="text-center">
                            <div formArrayName="awardRemarks">
                                <b> Remarks </b>
                                <div *ngFor="let alias of awardRemarks.controls; let i=index">
                                    <mat-form-field  appearance="outline"  style="width:300px" >
                                        <input matInput placeholder="Enter remark" [formControlName]="i" >
                                      </mat-form-field>
                                </div>
                              </div>
                        </div>

                        <div fxFlex="10"  class="text-center">
                            <button mat-button color="primary" (click)="addAward()"><mat-icon>add</mat-icon> Add</button>
                        </div>

                    </div>


                </mat-tab>    
              </mat-tab-group>
        </div>
        
    </div>
</form>
</mat-card>