
<mat-card class="mat-elevation-z3" style="margin-bottom:300px">
    <div fxLayout="row" fxLayoutAlign="space-between start">
        <div fxFlex="20" class="text-center">
            <img src="assets/images/headshot.png" class="img-rounded " height="100" />  
        </div>

        <div fxFlex="80">
            <div class="row">
                <div class="col-md-4"><p class=""><b>Surname:</b>  Boadi </p></div>
                <div class="col-md-4"> <p class=""><b>Other Names</b>: Micheal Kwame </p></div>
                <div class="col-md-4"><p class=""><b>Religion:</b>  Christian </p></div>
            </div>

            <div class="row">
                
                <div class="col-md-4"> <p class=""><b>Mother Tongue:</b> Twi </p></div>
                <div class="col-md-4"><p class=""><b>Hometown:</b>  Akim Oda </p></div>
                <div class="col-md-4"> <p class=""><b>Gender:</b> Male </p></div>
            </div>

            <div class="row">
                <div class="col-md-4"><p class=""><b>Living With:</b>  Both </p></div>
                <div class="col-md-4"> <p class=""><b>No. Sibblings:</b> 2 </p></div>
                <div class="col-md-4"><p class=""><b>Date Of Birth:</b>  2 Jan 2005 </p></div>
            </div>
            <div class="row">
                <div class="col-md-12"><p class=""><b>Date Of Birth:</b>  2 Jan 2005 </p></div>
               
            </div>
        </div>
    </div>


    <form  [formGroup]="studentInfoForm" >
    <div fxLayout="row" fxLayoutAligin=" start">
        
        <div fxFlex="100">
            <mat-tab-group color="primary" backgroundColor="primary">
               
                <mat-tab label="Physical Development"> 
                <div fxLayout="row" fxLayoutAlign="start" class="mt-3"  >
                    <div fxFlex="30" class="text-center" >
                        <div formArrayName="dates">
                            <b> Date</b>
                            <div *ngFor="let alias of dates.controls; let i=index">
                                <mat-form-field  appearance="outline" >
                                    <input matInput [matDatepicker]="picker" placeholder="Enter Date" [formControlName]="i" required>
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                  </mat-form-field>
                            </div>
                          </div>
                    </div>
                    <div fxFlex="20"  class="text-center">
                        <b>Weight (cm)</b>
                        <div formArrayName="weights">
                            <div *ngFor="let alias of weights.controls; let i=index">
                        <mat-form-field  appearance="outline" >
                            <input matInput placeholder="10"  [formControlName]="i" required>
                          </mat-form-field>
                        </div>
                        </div>
                    </div>
                    <div fxFlex="20"  class="text-center">
                        <b>Height(cm)</b>
                        <div formArrayName="heights">
                            <div *ngFor="let alias of heights.controls; let i=index">
                                <mat-form-field  appearance="outline" >
                                    <input matInput placeholder="50"  [formControlName]="i"  required>
                                  </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div fxFlex="20"  class="text-center">
                        <b>Remarks</b>
                        <div formArrayName="remarks">
                            <div *ngFor="let alias of heights.controls; let i=index">
                                <mat-form-field  appearance="outline" >
                                    <input matInput placeholder="10"  [formControlName]="i"  required>
                                  </mat-form-field>
                            </div>
                        </div>
                       
                      
                    </div>
                    <div fxFlex="10"  class="text-center">
                        <button mat-button color="primary" (click)="addPhysique()"><mat-icon>add</mat-icon> Add</button>
                    </div>
                </div>    
                </mat-tab>
                <mat-tab label="Education Info"> 

                    <div fxLayout="row" fxLayoutAlign="start" class="mt-3"  >
                        <div fxFlex="30" class="text-center" >
                            <div formArrayName="schoolNames">
                                <b> School </b>
                                <div *ngFor="let alias of schoolNames.controls; let i=index">
                                    <mat-form-field  appearance="outline" >
                                        <input matInput placeholder="Enter school name" [formControlName]="i" >
                                      </mat-form-field>
                                </div>
                              </div>
                        </div>
                        <div fxFlex="30"  class="text-center">
                            <b>Date of Admission</b>
                            <div formArrayName="admissionDates">
                                <div *ngFor="let alias of admissionDates.controls; let i=index">
                                    <mat-form-field  appearance="outline" >
                                        <input matInput [matDatepicker]="picker" placeholder="Enter Date" [formControlName]="i" required>
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                      </mat-form-field>
                            </div>
                            </div>
                        </div>
                        <div fxFlex="30"  class="text-center">
                            <b>Date of Last Admission</b>
                            <div formArrayName="lastAdmissionDates">
                                <div *ngFor="let alias of lastAdmissionDates.controls; let i=index">
                                    <mat-form-field  appearance="outline" >
                                        <input matInput [matDatepicker]="picker" placeholder="Enter Date" [formControlName]="i" required>
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                      </mat-form-field>
                                </div>
                            </div>
                        </div>
                        
                        <div fxFlex="10"  class="text-center">
                            <button mat-button color="primary" (click)="addSchool()"><mat-icon>add</mat-icon> Add</button>
                        </div>
                    </div> 
                </mat-tab>
                <mat-tab label="Personality Info">
                    
                    <div fxLayout="row" fxLayoutAlign=" start" class="mt-3"  >
                        <div fxFlex="20" class="text-center" >
                            <div formArrayName="traits">
                                <b> Trait </b>
                                <div *ngFor="let alias of traits.controls; let i=index">
                                    <mat-form-field  appearance="outline" >
                                        <input matInput placeholder="Enter trait" [formControlName]="i" >
                                      </mat-form-field>
                                </div>
                              </div>
                        </div>
                        <div fxFlex="20"  class="text-center">
                            <b>Class </b>
                            <div formArrayName="classes">
                                <div *ngFor="let alias of classes.controls; let i=index">
                                    <mat-form-field  appearance="outline" >
                                        <input matInput placeholder="Enter Class" [formControlName]="i" >
                                      </mat-form-field>
                            </div>
                            </div>
                        </div>
                        <div fxFlex="20"  class="text-center">
                            <b>Score</b>
                            <div formArrayName="scores">
                                <div *ngFor="let alias of scores.controls; let i=index">
                                    <mat-form-field  appearance="outline" >
                                        <input matInput  placeholder="Enter score" [formControlName]="i" >
                                      </mat-form-field>
                                </div>
                            </div>
                        </div>

                        <div fxFlex="20"  class="text-center">
                            <b>Remark</b>
                            <div formArrayName="personality_remarks">
                                <div *ngFor="let alias of personality_remarks.controls; let i=index">
                                    <mat-form-field  appearance="outline" >
                                        <input matInput  placeholder="Enter remarks" [formControlName]="i" >
                                      </mat-form-field>
                                </div>
                            </div>
                        </div>
                        
                        <div fxFlex="10"  class="text-center">
                            <button mat-button color="primary" (click)="addPersonality()"><mat-icon>add</mat-icon> Add</button>
                        </div>
                    </div> 
                </mat-tab>

                <mat-tab label="Health Info">
                <div fxLayout="row" fxLayoutAlign="space-around center" class="mt-4" >
                    <div fxFlex="30">
                        <mat-form-field appearance="outline" style="width:300px"  >
                            <mat-label>Primary Care Physician</mat-label>
                            <input matInput placeholder="John"  formControlName="primaryCarePhysician" >
                            <mat-error *ngIf="studentInfoForm.get('primaryCarePhysician').invalid"> Invalid input </mat-error>
                          </mat-form-field>
                    </div>

                    <div fxFlex="30">
                        <mat-form-field appearance="outline" style="width:300px"  >
                            <mat-label>Preffered Medical Facility</mat-label>
                            <input matInput placeholder="Holy Trinity"  formControlName="preferredMedicalFacility" >
                            <mat-error *ngIf="studentInfoForm.get('preferredMedicalFacility').invalid"> Invalid input </mat-error>
                          </mat-form-field>
                    </div>
                </div>    


                <div fxLayout="row" fxLayoutAlign="space-around center" >
                    <div fxFlex="30">
                        <mat-form-field appearance="outline" style="width:300px"  >
                            <mat-label>Insurance</mat-label>
                            <input matInput placeholder="Health Insurance"  formControlName="insuranceName" >
                            <mat-error *ngIf="studentInfoForm.get('insuranceName').invalid"> Invalid input </mat-error>
                          </mat-form-field>
                    </div>

                    <div fxFlex="30">
                        <mat-form-field appearance="outline" style="width:300px"  >
                            <mat-label>Insurance Number</mat-label>
                            <input matInput placeholder="123"  formControlName="insuranceNumber" >
                            <mat-error *ngIf="studentInfoForm.get('insuranceNumber').invalid"> Invalid input </mat-error>
                          </mat-form-field>
                    </div>
                </div>  



                <div fxLayout="row" fxLayoutAlign="space-around center" >
                    <div fxFlex="30">
                        <mat-form-field appearance="outline" style="width:300px"  >
                            <mat-label>Policy Holder Name</mat-label>
                            <input matInput placeholder="John"  formControlName="policyHolderName" >
                            <mat-error *ngIf="studentInfoForm.get('policyHolderName').invalid"> Invalid input </mat-error>
                          </mat-form-field>
                    </div>

                    <div fxFlex="30">
                        <mat-form-field appearance="outline" style="width:300px"  >
                            <mat-label>Policy Number</mat-label>
                            <input matInput placeholder="8912312"  formControlName="policyNumber" >
                            <mat-error *ngIf="studentInfoForm.get('policyNumber').invalid"> Invalid input </mat-error>
                          </mat-form-field>
                    </div>
                </div>  

                <div fxLayout="row" fxLayoutAlign="space-around center" >
                    <div fxFlex="30">
                        <mat-form-field appearance="outline" style="width:300px"  >
                            <mat-label>PCP Number</mat-label>
                            <input matInput placeholder="John"  formControlName="pcpNumber" >
                            <mat-error *ngIf="studentInfoForm.get('pcpNumber').invalid"> Invalid input </mat-error>
                          </mat-form-field>
                    </div>

                    <div fxFlex="30"></div>

                 
                </div>  
                
                </mat-tab>
            
              </mat-tab-group>
        </div>
        
    </div>
</form>
</mat-card>